.tarea-formulario{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 70px;
}

.tarea-input{
  width: 350px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: solid 2px blue;
  outline: none;
}

.tarea-boton{
  padding: 16px;
  font-size: 18px;
  border:none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: blue;
  color: white;
  text-transform: capitalize;
}